// BREAKPOINTS

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$monitor-breakpoint: 2000px;


@mixin tablet-breakpoint {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop-breakpoint {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin monitor-breakpoint {
    @media screen and (min-width: $monitor-breakpoint){
        @content;
    }
}


// Font Family

@mixin raleway {
    font-family: 'Raleway';
}

@mixin mukta {
    font-family: 'Mukta';
}

// COLOURS

@mixin highlightOne {
    color: #D90B6B;
    background-color: #D90B6B;

}
@mixin highlightTwo {
    color: #0D0D0D;
    background-color: #0D0D0D;
}
@mixin backgroundColor {
    background-color: #102613;
}
@mixin buttonColor {
    color: #1F4021;
}
@mixin backgroundImgColor {
    color: #F2D5C4;
    background-color: #F2D5C4;
}
@mixin textColor {
    color: #D9CDB8;
}