@font-face {
    font-family: 'Mukta';
    src: url('../../Assets/Fonts/Mukta-Regular.woff2') format('woff2'),
        url('../../Assets/Fonts/Mukta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../Assets/Fonts/Raleway-Thin.woff2') format('woff2'),
        url('../../Assets/Fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

