@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.mainPage {
    @include backgroundColor;
    @include mukta;
    @include textColor;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 0 1rem;
    &__subTitle {
        @include textColor;
        display: flex;
        justify-content: center;
        padding: 0 1rem 1rem 1rem;
        @include desktop-breakpoint {
            font-size: 2rem;
        }
    }
    &__mainContainer {
        @include tablet-breakpoint {
            display: flex;
            flex-direction: row;
            padding: 3rem 2rem;
        }
        @include desktop-breakpoint {
            padding: 3rem 6rem;
            justify-content: space-evenly;
        }
    }
    &__mainPara {
        padding: 1rem 2rem;
        text-align: justify;
        line-height: 1.5rem;
        @include desktop-breakpoint {
            // padding: 4rem 6rem;
            font-size: 1.2rem;
        }
    }
    &__imgContainer {
        padding: 5rem 2rem;
        position: relative;
        left: 1rem;
        @include tablet-breakpoint {
            left: 40px;
        }
        @include desktop-breakpoint {
            left: 90px;
            top: 150px;
        }
        @include monitor-breakpoint {
            // left: 200px;
        }
    }
    &__mainImage {
        border-radius: 500px 500px 0 0;
        box-shadow: -40px -50px 0px #F2D5C4;
        height: auto;
        width: 100%;
        @include desktop-breakpoint {
            height: 85%;
            width: 90%;
        }
        @include monitor-breakpoint {
            height: 80%;
            width: 70%;
        }
    }
}
