@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.mainPage {
    @include mukta;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    &__subTitle {
        @include color9;
        padding: 0 1rem 1rem 1rem;
        border-bottom: 1px solid #1F4021;
    }
    &__mainPara {
        padding: 1rem;
    }
    &__mainImage {
        height: 50vh;
        width: 90%;
        border-radius: 4rem;
    }
}